BASE_URL="http://localhost:8088"
NEXT_URL="http://localhost:3000"
MQTT_BROKER_URL="mqtt://localhost:1884"
MODERN_MEDPLUM_CLIENT_ID="470d0045-dbae-4a27-aa7e-c3af09c4aa45"
MODERN_MEDPLUM_BASE_URL="http://localhost:8103"