NODE_ENV='development'

PORT=3003

TB_URL='http://localhost:8088/entities/devices/'

MEDPLUM_URL='http://host.docker.internal:8103'
MEDPLUM_CLIENT_ID=
MEDPLUM_CLIENT_SECRET=

DB_URL=

JWT_SECRET=
; 1 hour in seconds
JWT_EXPIRES_IN=3600

REFRESH_JWT_SECRET=
; 7 days in seconds
REFRESH_JWT_EXPIRES_IN=604800

Project {
  login: 'ab3bee18-43f8-41dd-b02a-0d3739fed57c',
  code: '0127fc31b370b1fc67529204d974e3fa'
}
TypeError: Cannot read properties of undefined (reading 'protocol')
    at getWindowOrigin (\proxy\node_modules\@medplum\core\src\client.ts:4325:26)
    at Ft.processCode (\proxy\node_modules\@medplum\core\src\client.ts:3781:49)
    at MedplumService.registerAndGetClientApp (\proxy\src\medplum\medplum.service.ts:78:23)
