PORT=3003
MEDPLUM_URL='http://localhost:8103'
TB_URL='http://localhost:8088/entities/devices/'
MEDPLUM_CLIENT_ID=50adc8bb-a5d6-4460-9376-4cc2949cd324
MEDPLUM_CLIENT_SECRET=8203000a29b41d3b974e6bd69a87be1b93868c616735fa9d2878e5c1e8717837

THINGSBOARD_SYSADMIN_EMAIL="email@email.com"
THINGSBOARD_SYSADMIN_PASSWORD="password"
THINGSBOARD_API_URL="http://localhost:8088"