NODE_ENV='development'

PORT=3003

TB_URL='http://localhost:8088/entities/devices/'

MEDPLUM_URL='http://host.docker.internal:8103'
MEDPLUM_CLIENT_ID=
MEDPLUM_CLIENT_SECRET=

DB_URL=

JWT_SECRET=
; 1 hour in seconds
JWT_EXPIRES_IN=3600

REFRESH_JWT_SECRET=
; 7 days in seconds
REFRESH_JWT_EXPIRES_IN=604800

THINGSBOARD_SYSADMIN_EMAIL="email@email.com"
THINGSBOARD_SYSADMIN_PASSWORD="password"
THINGSBOARD_API_URL="http://localhost:8088"

BCRYPT_ROUNDS=8

; mailer
MAIL_HOST= ""
MAIL_PORT= xx
MAIL_USER= "xx"
MAIL_PASSWORD= "xx"
APP_NAME= 'xx'

FRONTEND_BASE_URL= "http://localhost:3000"

REDIS_HOST='localhost'
REDIS_PORT=6379