NODE_ENV='development'
FRONTEND_BASE_URL='http://localhost:3000'

PORT=3003
TB_URL='http://localhost:8088/entities/devices/'

MEDPLUM_URL='http://localhost:8103'

DB_URL=

JWT_SECRET=
; 1 hour in seconds
JWT_EXPIRES_IN=3600

REFRESH_JWT_SECRET=
; 7 days in seconds
REFRESH_JWT_EXPIRES_IN=604800

THINGSBOARD_SYSADMIN_EMAIL="sysadmin@thingsboard.org"
THINGSBOARD_SYSADMIN_PASSWORD="sysadmin"
THINGSBOARD_API_URL="http://localhost:8088"

BCRYPT_ROUNDS=8

; mailer
MAIL_HOST='sandbox.smtp.mailtrap.io'
MAIL_PORT=465
MAIL_USER=
MAIL_PASSWORD=
APP_NAME=

REDIS_HOST='172.17.0.2'
REDIS_PORT=6379
ORIGIN_URL='http://localhost:3000'